/* 
todos: 
- add colors for request methods
  - green for POST
  - blue for GET
  - yellow for UPDATE
  - red for DELETE
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 3.7em 5em;
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.title-container,
.register-flow-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: justify;
}

.user-container,
.job-container {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.user-container h2,
.job-container h2 {
  width: max-content;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}

.title-span {
  padding-left: 1.2em;
  font-size: small;
  font-weight: 400;
}

.request-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.body-response-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container {
  display: flex;
}

.request-column,
.response-column {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 5px;
}

.body-container {
  margin-bottom: 10px;
}

.request-column {
  background-color: #f2f2f2;
}

.response-column {
  background-color: #e6e6e6;
}

